.about_section__stats{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding: 40px 0 0 0;
}

@media screen and (max-width: 625px){
  .about_section__stats{
    flex-direction: column;
  }
}
