.navbarMobile{
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
  z-index: 99;
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  transform: translateY(-100%);
  transition: transform 400ms ease-in-out;
  background-color: white;
}

.navbarMobile--isOpen{
  transform: translateY(0%);
  display: block;
}

.navbarMobile__links{
    margin-left: auto;
    list-style-type: none;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    text-align: center;
}

.navbarMobile__links > li > a{
    display: block;
    text-decoration: none;
    color: #949494;
    font-weight: 300;
    background-color: #fff;
    padding: 22px 0;
    position: relative;
    margin: 0;
    transition: all 300ms ease-in-out;
}

.navbarMobile__links > li > a::after{
  position: absolute;
  content: '';
  width: 90%;
  bottom: 0;
  height: 1px;
  background-color: #eee;
  left: 50%;
  transform: translateX(-50%);
  transition: all 400ms ease-in-out;
}

.navbarMobile__links > li > a:hover::after,
.navbarMobile__links > li > a:focus::after{
  background: #949494;
  width: 100%;
}

.navbarMobile__links > li > a:hover,
.navbarMobile__links > li > a:focus{
    background-color: #eee7;
    color: black;
}

.navbarMobile .navbar__search{
  text-align: center;
}

.navbarMobile .navbar__search .navbar__search__container {
    transform: none;
    width: 80%;
    display: flex;
    top: auto;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

.navbarMobile .navbar__search .navbar__search__container > input{
  padding: 15px 15px;
  width: 100%;
  flex-grow: 1;
}
